* {
  font-family: SF Pro !important;
}
.App {
  text-align: center;
}

.MuiLinearProgress-root.MuiLinearProgress-colorSecondary {
  background-color: transparent;
}

.MuiFormLabel-root.Mui-focused {
  color: #FB7B76 !important;
}
